{% extends 'base.html.twig' %}

{% block title %}0ffices Search{% endblock %}
{% block description %}Search for offices in your neighborhood{% endblock %}

{% block body %}
    {# Header #}
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Offices Search</a>
        </div>
    </nav>

    {# Body #}
    <div class="container">
        <div class="col s12 m10 offset-m1 l6 offset-l3">
            <div class="row">
                <form class="col s12 card">
                    <div class="card-content">
                        <h4 class="card-title">Show offices in the neighborhood of:</h4>
                        <div class="input-field">
                            <i class="material-icons prefix">location_city</i>
                            <input id="location" type="text" class="validate">
                        </div>
                        <div class="col s6">
                            <input type="checkbox" class="filled-in" id="weekend"/>
                            <label for="weekend">Open in weekends</label>
                        </div>
                        <div class="col s6">
                            <input type="checkbox" class="filled-in" id="support"/>
                            <label for="support">With support desk</label>
                        </div>
                        <p>Range: <strong><span class="range-value">10</span> km</strong></p>
                        <p class="range-field">
                            <input type="range" id="range" min="0" max="100" step="1" value="10"/>
                        </p>
                    </div>
                    <div class="card-action">
                            <button class="btn waves-effect waves-light" type="submit" name="submit">Search
                                <i class="material-icons right">search</i>
                            </button>
                    </div>
                </form>
            </div>
            <div class="row result">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // Show range value
        $('#range').on("change mousemove", function () {
            $value = $(this).val();
            $('.range-value').text($value);
        });

        // Button click events
        $('button[type="submit"]').on('click', function (e) {

            // Stop default behavior
            e.preventDefault();

            // Check if city name is provided
            if (typeof $('#location').val() == "string") {
                //Clear result div
                $('.result').empty();

                // Show loader
                $('.result').append('<div class="progress"><div class="indeterminate"></div></div>');

                // Create URL
                // http://www.wijs.local/api/offices?location=&range=&weekend=&support=
                $url = "http://www.wijs.local/api/offices?";
                $url += "location=" + $('#location').val();
                $url += "&";
                $url += "range=" + $('#range').val();
                $url += "&";
                if ($('#weekend').is(':checked')) {
                    $url += "weekend=Y";
                } else {
                    $url += "weekend=N";
                }
                $url += "&";
                if ($('#support').is(':checked')) {
                    $url += "support=Y";
                } else {
                    $url += "support=N";
                }
                console.log($url);

                $.ajax({
                    dataType: "json",
                    url: $url
                })
                        .done(function (data) {
                            if (typeof data.message !== 'undefined') {
                                alert(data.message);
                            }
                            //Clear result div
                            $('.result').empty();

                            //Add list to result div
                            $result = $('.result');
                            $result.append('<ul class="collection with-header"></ul>');
                            $collection = $('.result .collection');
                            $collection.append('<li class="collection-header">'
                                    + '<h4>' + 'Showing offices within a radius of ' + data.query.range + 'km from ' + data.query.location.city + '.' + '</h4>'
                                    + '</li>');

                            data.results.forEach(function (office) {
                                $collection.append('<li class="collection-item avatar">'
                                        + '<i class="material-icons circle red-lighten-1">location_city</i>'
                                        + '<span class="title">' + office.street + ', ' + office.city + '</span>'
                                        + '<p>Is open in the weekend: ' + office.isOpenInWeekends + '<br>'
                                        + 'Has support desk: ' + office.hasSupportDesk + '<br>'
                                        + 'Distance: ' + office.distance + 'km.</p>'
                                        + '</li>')
                            });


                        })
                        .fail(function (jqXHR, textStatus, errorThrown) {
                            if (typeof jqXHR.responseJSON !== 'undefined') {
                                if (jqXHR.responseJSON.hasOwnProperty('form')) {
                                    $('#form_body').html(jqXHR.responseJSON.form);
                                }

                                $('.form_error').html(jqXHR.responseJSON.message);

                            } else {
                                alert(errorThrown);
                            }

                        });
            } else {
                alert("Please enter a city name.")
            }
        });
    </script>
{% endblock %}